form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	height: 2rem;
	margin: 0.25rem;
	width: 25vw;
}

button {
	margin: 0.25rem;
	width: 8.33vw;
	height: 2rem;
	border-radius: 4pt;
	box-shadow: none;
	border-color: transparent;
	background-color: #a97232;
	color: white;
}

button:hover {
	background-color: #463128;
}

#msg {
	width: 25vw;
	height: 6vh;
	resize: none;
}
