#inicio {
	width: 100vw;
	height: 90vh;
	background-image: url("https://i.pinimg.com/736x/43/36/7d/43367dbd6994803227e08ece5093e942.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
